{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/slack-line.JPG')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Sam. I'm a data scientist and python developer. My hobbies are guitar playing and singing, dancing salsa and bachata, calisthenics and exercise and stand-up comedy.</p>
        <p>At the moment I am living in South Beach, Miami. The weather is fantastic and I can swim in the ocean all year round, although I'm not sure I'm a "fit" with the culture.</p>
        <p>This blog is where I will post little projects to showcase what I'm working on. Also I might post little snipits from my travels.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}